extends ../layouts/main.pug
block content
    header
        h1= title
    
    div
        p Task manager. View tasks and available options under Tasks drop-down box if you've logged in. Otherwise, click register to make a new account, or login to log in.